* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
    height: 350px;
    background: lime;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
form > div {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label {
    margin-bottom: 10px;
}

span {
    color: red;
    font-size: 11px;
}

#userNameMsg,
#passwordMsg
{
    color: red;
    margin-top: 5px;
}